<div class="main-body">

    <!-- nav bar -->
    <nav class="navbar fixed-top navbar-expand-lg bg-white py-0 border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal ml-5">PikkaNode</h5>
        <div class="collapse  navbar-collapse  justify-content-end mr-3" id="navbarSupportedContent">
            <!-- menu upload -->
            <ul class="navbar-nav py-2 mr-10">
                <li class="nav-item">
                    <a class="p-2 nav-link text-dark" href="/create">Upload</a>
                </li>
            </ul>
            <!-- menu upload.// -->

            <!-- menu loout -->
            <ul class="nav navbar-nav">
                <li class="dropdown py-2">
                    <a href="#" class="p-2 nav-link text-dark dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>
                        <strong>Thanapon Jaisanuk</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left mb-0">
                                            <strong>Thanapon Jaisanuk</strong>
                                        </p>
                                        <p class="text-left small mb-1">thanapon.jsn@gmail.com</p>
                                        <a class="btn btn-dark btn-block btn-sm" href="#">Log out</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- menu loout.// -->
        </div>
    </nav>
    <!-- nav bar -->

    <!-- card container -->
    <article class="container mt-5">
        <div class="row pt-4">
            <!-- col card -->

            <% if (allPicture != null) { %>

            <% allPicture.forEach(dataPicture => { %>
            
            <% let imagePic = `<img class="card-img-top" src="/-/imagesUpload/${dataPicture.id}.jpg" height="230px">` %>

            <div class="col-sm-6 col-md-3">
                <!-- card -->
                <div class="card mb-3">
                    <%- imagePic %>
                    <div class="card-body py-0 px-3">
                        <h5 class="card-title mt-2"><%= dataPicture.caption %></h5>
                        <p class="card-text mb-2"><%= dataPicture.created_at %></p>

                        <div class="border-top py-2">
                            <small class="text-muted">21 Likes</small>
                            <small class="text-muted">2 Comments</small>
                        </div>
                    </div>
                </div>
                <!-- card.// -->
            </div>
           <%  }) %>
       <% } %>
            <!-- col card.// -->
        </div>
    </article>
    <!-- card container.// -->
</div>