<div class="container">
    <!-- row -->
    <div class="row justify-content-center my-5">
        <!-- card -->
        <div class="card mx-5">
            <header class="card-header py-0">
                <h5 class="card-title my-2">Sign up</h5>
            </header>
            <article class="card-body">
                <!-- form sign up -->
                <form method="POST">
                    <!-- form-group -->
                    <div class="form-group">
                        <label>Email address</label>
                        <input id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
                        <small class="form-text text-muted">Email register for login to pikkanode</small>
                    </div>
                    <!-- form-group end.// -->

                    <!-- form-group -->
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                    <!-- form-group end.// -->

                    <!-- form-group -->
                    <div class="form-group">
                        <button class="btn btn-dark btn-block">Sign up</button>
                    </div>
                    <!-- form-group.// -->
                    <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our
                        <br> Terms of use and Privacy Policy.</small>
                </form>
                <!-- form sign up.// -->
            </article>
            <!-- card-body end .// -->

            <!-- card footer -->
            <footer class="border-top card-body text-center py-3">Have an account?
                <a href="/signin">Log In</a>
            </footer>
            <!-- card footer.// -->
        </div>
        <!-- card.// -->
    </div>
    <!-- row.//-->
</div>