<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-6">
            <div class="card mx-5">
                <header class="card-header py-0">
                    <h5 class="card-title my-2">Sign up</h5>
                </header>
                <article class="card-body">
                    <form method="POST">
                        <div class="form-group">
                            <label>Email address</label>
                            <input id="inputEmail" name="email" class="form-control" placeholder="Email address" required="" autofocus="">
                            <small class="form-text text-muted">Email register for login to pikkanode</small>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
                        </div>
                        <!-- form-group end.// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-dark btn-block">Sign up</button>
                        </div>
                        <!-- form-group// -->
                        <small class="text-muted">By clicking the 'Sign Up' button, you confirm that you accept our
                            <br> Terms of use and Privacy Policy.</small>
                    </form>
                </article>
                <!-- card-body end .// -->
                <div class="border-top card-body text-center py-3">Have an account?
                    <a href="/signin">Log In</a>
                </div>
            </div>
            <!-- card.// -->
        </div>
        <!-- col.//-->

    </div>
    <!-- row.//-->


</div>